cache_dir = {{ ccache_cache_dir }}
compression = {{ ccache_compression | lower }}
max_size = {{ ccache_max_size }}
run_second_cpp = {{ ccache_run_second_cpp | lower }}
sloppiness = {{ ccache_sloppiness }}
