base_dir = {{ ccache_base_dir }}
cache_dir = {{ ccache_cache_dir }}
cache_dir_levels = {{ ccache_cache_dir_levels }}
compiler = {{ ccache_compiler }}
compiler_check = {{ ccache_compiler_check }}
compression = {{ ccache_compression | lower }}
compression_level = {{ ccache_compression_level }}
cpp_extension = {{ ccache_cpp_extension }}
debug = {{ ccache_debug | lower }}
depend_mode = {{ ccache_depend_mode | lower }}
direct_mode = {{ ccache_direct_mode | lower }}
disable = {{ ccache_disable | lower }}
extra_files_to_hash = {{ ccache_extra_files_to_hash }}
hard_link = {{ ccache_hard_link | lower }}
hash_dir = {{ ccache_hash_dir | lower }}
ignore_headers_in_manifest = {{ ccache_ignore_headers_in_manifest }}
keep_comments_cpp = {{ ccache_keep_comments_cpp | lower }}
limit_multiple = {{ ccache_limit_multiple }}
log_file = {{ ccache_log_file }}
max_files = {{ ccache_max_files }}
max_size = {{ ccache_max_size }}
path = {{ ccache_path }}
pch_external_checksum = {{ ccache_pch_external_checksum | lower }}
prefix_command = {{ ccache_prefix_command }}
prefix_command_cpp = {{ ccache_prefix_command_cpp }}
read_only = {{ ccache_read_only | lower }}
read_only_direct = {{ ccache_read_only_direct | lower }}
recache = {{ ccache_recache | lower }}
run_second_cpp = {{ ccache_run_second_cpp | lower }}
sloppiness = {{ ccache_sloppiness }}
stats = {{ ccache_stats | lower }}
temporary_dir = {{ ccache_temporary_dir }}
umask = {{ ccache_umask }}
unify = {{ ccache_unify | lower }}
